/*** autos **/
@mixin carContainer{
  padding-top:80px;
  width:100%;
}

/*** mobile view **/
.mobile-view{
  background-color: $auto-bg;
  display:block;
  position:relative;
  min-height:100% !important;
  overflow:hidden;

}

.cars-container{
  position:relative;
  height:100%;
  @include carContainer;
  overflow: auto;
}

.car-item{
  width: 100%;
  height: 100%;
  border: 5px solid $car-item-border;
  background-color:white;
  margin-bottom: 15px;
  h6{
    color:black;
    padding: 15px;
    
    em{
      border-style: groove;
      background-color: #BFC9CA;
      padding: 5px;
    }
  }
}




/** Desktop View **/
@mixin overflow-props{
  height:100%;
  display:block;
  overflow:auto;
  margin: 20px;
}
.desktop-view{
  background-color: $auto-bg;
  height:100vh;
  width:100vw;
}
.box{
  top:80px;
  position:relative;
  width:100%;
  height:80%;
  overflow:hidden;
}
.car-list{
  width:30%;
  float:left;
  @include overflow-props;
}
.showdtails{
  @include overflow-props;
  width:60%;
  float:right;
  text-align:center;
  color:white;
}
.table{
  margin-top: 30px;
  background-color:#909497;
  th{
    text-align: center;
  }
}
.description{
  white-space: pre-wrap;
  overflow: hidden;
  text-align: left;
  margin-left: 50px;
}

.float-left{
  h3{
    text-align:left;
  }
}