
/** Properties **/
// @mixin typing{
//   display: inline-block;
//   width: 100%;
//   white-space:nowrap;
//   overflow:hidden;
//   -webkit-animation: type 5s steps(50, end) alternate;
//   animation: type 5s steps(50, end) alternate;
//   @keyframes type{
//       from { width: 0; }
//   }
//   @-webkit-keyframes type{
//       from { width: 0;  }
//   }
// }


@mixin centerProps{
  position:absolute;
  margin: auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

@mixin btn-props{
  width:150px;
  height:50px;
  vertical-align: middle;
  text-align:center;
  line-height:50px;
  border: 2px solid #fff;
  transition:all 0.5s;
}


/** Style **/
nav{
  a{
    padding:0 15px;
    font-size:0.8em;
    margin: 0 15px;
    // @media screen and (min-width:1024px){
    //   font-size:25px;
    // }
  }
}
.navbar{
  padding:0;
  border-bottom:1px solid #ddd;
  // @media screen and (min-width:768px){
  //   height:60px;
  // }
}
.navbar-brand{
  margin: 0;
  padding: 0;
  display:block;
  img{
    margin-right:10px;
    padding-top:10px;
  }
  h4{
    line-height: 60px;
    vertical-align: middle;
    margin-bottom:0;
    color:white;
  }
  @media screen and (min-width:767px){
    margin-left: 20px;
  }
  @media screen and (min-width:1023px){
    margin-left: 60px;
  }
  @media screen and (min-width:1400px){
    margin-left: 100px;
  }
  @media screen and (min-width:1500px){
    margin-left: 100px;
  }
}
.navbar-collapse{
  flex-basis: 80%;
  @media screen and (min-width:1023px){
    flex-basis:70%;
  }
  @media screen and (min-width:1500px){
    flex-basis:80%;
  }
}
.nav-item{
  font: "Open Sans", arial, sans-serif;
  a{
    text-transform: uppercase;
  }
}

.bg-dark{
  background-color: $nav-bar-bg!important;
}


.home{
  height:100vh;
  width:100%;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  position:relative;
}

.typing{
  width:100%;
  position:absolute;
  top:30%;
  text-align:center;
  h1{
    color:$typing-color;
    @media screen and (min-width:767px){
      font-size: 50px;
    }
  }
}

.home-btn{
  @include btn-props;
  @include centerProps;
  background-color:$view-autos-bg;
  a{
    color:white;
    &:hover{
      text-decoration: none;
    }
  }
  span{
    cursor:pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    &:after{
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
  }
  &:hover{
    background-color:$view-autos-hover;
    span{
      padding-right:25px;
      &:after{
        opacity:1;
        right:0;
      }
    }  
  } 
  @media screen and (min-width: 767px){
    font-size:30px;
    width:300px;
    height:70px;
    line-height:70px;
  }
}

.down-btn{
  position:absolute;
  bottom:40px;
  width:100%;
  text-align:center;
  i{
    color:white
  }
}

#section2{
  padding-top:20px;
  padding-bottom:20px;
  background-color:$icon-content-bg;
  min-height:300px;
  text-align:center;
  h1{
    width:100%;
    color:black;
    text-align:center;
  }
}

.icon-container{
  margin-top:20px;
  margin-bottom:20px;
  img{
    width:200px;
    height:200px;   
    max-width:100%;
    margin-bottom:10px;
  }  
  h3{
    color:black;
  }
}
.fixed-attachment{
  background-attachment:fixed;
}
.reduced-size{
  padding:45px 0;
  h1{
    width:100%;
    color : black;
    text-align:center;
  }
}

.dealer-detail{
  background-color:$dealer-detail;
  color: white;
  margin: 10px 0;
  border-style: solid;
  ul{
    list-style:none;
    li{
      font-size:1.3rem;
      &::before{
        content: "\2713  ";
      }
    }
  }
  @media screen and (min-width:767px){
    max-width: 65%;
    margin: 0 auto;
    margin-top: 20px;   
    ul{
      li{
        font-size:2.0rem;
      }
    }
  }
  @media screen and (min-width:767px){
    max-width: 40%;
    margin-top:40px;
  }
}

.time{
  @extend .dealer-detail;
  ul{
    list-style-type:circle;
    list-style-position: outside;
    li{
      text-align:left;
      font-size:1.0rem;
      &::before{
        content: "";
      }
      @media screen and (min-width:767px){
        font-size:1.5rem;
      }
    }
  }
}

footer{
  position:relative;
  width:100%;
  bottom:0;
  background-color:$footer-bg;
  text-align:center;
  border-style:solid;
  border-top: 1px double white;
  p{
    color:$footer-text;
    margin-bottom:3px;
  }
  // @media screen and (min-width:767px){
  //   position:absolute;
  // }
}
