/** Color **/
// nav bar
$nav-bar-bg:white;
$typing-color: white;
// homepage
$view-autos-bg: #CC0000;
$view-autos-hover: black;
// $icon-content-bg: #333333;
$icon-content-bg: #ededee;
$dealer-detail: rgba(204,0,0,0.6);
$footer-bg : #333333;
$footer-text: #cccccc;
//autos page
$auto-bg : #333333;
$car-item-border: #CC0000; 
//about page
$about-bg : #333333;


html,body{
  height:100%;
}
.container-fluid{
  min-height: 100%;
}

@import 'homepage';
@import 'autospage';
@import 'aboutpage';


.customer-page{
  padding-top:70px;
  width:100%;
}
