/** Color **/
// nav bar
$nav-bar-bg:white;
$typing-color: black;
// homepage
$view-autos-bg: #CC0000;
$view-autos-hover: black;
$icon-content-bg: #333333;
$dealer-detail: rgba(204,0,0,0.6);
$footer-bg : #333333;
$footer-text: #cccccc;
//autos page
$auto-bg : #333333;
$car-item-border: #CC0000; 
//about page
$about-bg : #333333;


html,body{
  height:100%;
}
.container-fluid{
  min-height: 100%;
}

@import 'homepage';
@import 'autospage';


.aboutpage{
  height:100%;
  width:100%;
  display: block;
  background-color: $about-bg;
  @media screen and (min-width:767px){
    height:100vh;
  }
}
.about-header{
  padding-top:80px;
  text-align: center;
  h1{
    color:white;
  }
  hr{
    border-top: 2px solid white;
    margin-bottom:50px;
    @media screen and (min-width:767px){
      margin-bottom: 100px;
    }
  }
}

.contact-info{
  margin-bottom: 50px;
  div{
    padding-left:20px;
    margin-bottom:10px;
    display:inline-block;
    width:100%;
    i{
      float:left;
      color:white;
    }
    p{
      float:left;
      margin-left:15px;
      color:white;
    }
  }
}

.contact-form{
  text-align: center;
  margin-bottom: 60px;
  button{
    margin: 0 auto;
    background-color:$nav-bar-bg;
    border-color:$nav-bar-bg;
  }
  textarea{
    height:200px;
  }
}
