/** Color **/
/** Properties **/
/** Style **/
nav a {
  padding: 0 15px;
  font-size: 30px;
  margin: 0 15px; }
  @media screen and (min-width: 1024px) {
    nav a {
      font-size: 25px; } }

.bg-dark {
  background-color: #CC0000 !important; }

.home {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }

.typing {
  width: 100%;
  position: absolute;
  top: 30%;
  text-align: center; }
  .typing h1 {
    color: white; }
    @media screen and (min-width: 767px) {
      .typing h1 {
        font-size: 50px; } }

.home-btn {
  width: 150px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  line-height: 50px;
  border: 2px solid #fff;
  transition: all 0.5s;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #CC0000; }
  .home-btn a {
    color: white; }
    .home-btn a:hover {
      text-decoration: none; }
  .home-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s; }
    .home-btn span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s; }
  .home-btn:hover {
    background-color: #6600CC; }
    .home-btn:hover span {
      padding-right: 25px; }
      .home-btn:hover span:after {
        opacity: 1;
        right: 0; }
  @media screen and (min-width: 767px) {
    .home-btn {
      font-size: 30px;
      width: 300px;
      height: 70px;
      line-height: 70px; } }

.down-btn {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center; }
  .down-btn i {
    color: white; }

#section2 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #333333;
  min-height: 300px;
  text-align: center; }
  #section2 h1 {
    width: 100%;
    color: white;
    text-align: center; }

.icon-container {
  margin-top: 20px;
  margin-bottom: 20px; }
  .icon-container img {
    width: 200px;
    height: 200px;
    max-width: 100%;
    margin-bottom: 10px; }
  .icon-container h3 {
    color: white; }

.fixed-attachment {
  background-attachment: fixed; }

.reduced-size {
  padding: 45px 0; }
  .reduced-size h1 {
    width: 100%;
    color: white;
    text-align: center; }

.dealer-detail, .time {
  background-color: rgba(204, 0, 0, 0.6);
  color: white;
  margin: 10px 0;
  min-height: 200px;
  border-style: solid;
  padding: 15px; }
  .dealer-detail ul, .time ul {
    list-style: none; }
    .dealer-detail ul li, .time ul li {
      font-size: 1.3rem; }
      .dealer-detail ul li::before, .time ul li::before {
        content: "\2713"; }
  @media screen and (min-width: 767px) {
    .dealer-detail, .time {
      max-width: 65%;
      margin: 0 auto;
      margin-top: 20px; }
      .dealer-detail ul li, .time ul li {
        font-size: 2.0rem; } }
  @media screen and (min-width: 767px) {
    .dealer-detail, .time {
      max-width: 40%;
      margin-top: 40px; } }

.time ul {
  list-style-type: circle;
  list-style-position: outside; }
  .time ul li {
    text-align: left;
    font-size: 1.0rem; }
    .time ul li::before {
      content: ""; }
    @media screen and (min-width: 767px) {
      .time ul li {
        font-size: 1.5rem; } }

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #333333;
  text-align: center; }
  footer p {
    color: #cccccc;
    margin-bottom: 3px; }

/*** autos **/
.showcars {
  position: relative;
  top: 100px;
  width: 1000px;
  background-color: white;
  overflow: auto;
  max-height: 80vh; }
  @media screen and (max-width: 750px) {
    .showcars {
      max-height: 100%;
      overflow: none; } }

.showdetails {
  position: relative;
  text-align: center;
  top: 100px;
  width: 1000px;
  overflow: auto;
  max-height: 600px; }

/*# sourceMappingURL=index.css.map */
